<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img class="icon" src="assets/img/public_blue_users.png"></ion-img>


  <ion-item>
    <ion-label  position="floating"> Email </ion-label>
    <ion-input type="text" name="email"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label  position="floating"> Password </ion-label>
    <ion-input type="password" name="password"> </ion-input>
  </ion-item>

  <ion-button expand="block">Entrar</ion-button>
</ion-content>
